body {
	color: white;
	background: #181818;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1 {
	color: #3566FF;
	font-family: monospace;
}
p {
	font-family: monospace;
	font-size: 16px;
}
ul {
	font-family: monospace;
	font-size: 16px;
	text-align: center;
	list-style-type: square;
	list-style-position: inside;
}
a {
	color: #3566FF;
}
